{% extends "admin_layout.html.twig" %}

{%  block head %}
    {{ parent() }}
    {% block title %}
        <title>Administration</title>
    {% endblock %}
{% endblock %}

{% block content %}
    <section>
        {% block showBlog %}
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        {% block title_admin %}
                            <h1 class="title-admin">Gestion des avis clients</h1>
                        {% endblock %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h1>Ajout d'un avis client</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button type="submit" name="submit-category" class="btn admin-button">Mettre à jour</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        {% endblock %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        tinymce.init({
            selector: 'textarea#edit_review_content',
            height: 300,
            toolbar: [
                'undo redo | styleselect | bold italic | link image',
                'alignleft aligncenter alignright'
            ],
            plugins: "link",
            menubar: "insert"
        });
    </script>
{% endblock %}