<!DOCTYPE html>
<html lang="fr">
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-uppercase">Bonjour !</h1>
            <p>Vous avez reçu un nouvel email de {{ customer.name ~ ' ' ~ customer.firstname }}</p>
            <p>Email : {{ customer.email }}</p>
            <p>Téléphone : {{ customer.phone }}</p>
            <p>Date de l'évenement : {{ customer.date|date('d-m-Y') }}</p>
            <p>Lieu : {{ customer.place }}</p>
            <p>Intéréssés par :
                {% for asking in customer.event %}
                - {{ asking.name }} <br>
                {% endfor %}
            </p>
            <p>Comment ils m'ont connus : {{ customer.howKnow }}</p>
            <p>Message client : {{ customer.details }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h6>Claire GINDRE</h6>
            <p><em>Photographe et graphiste</em></p>
            <p>84, Rue de Versailles</p>
            <p>78150 Le Chesnay</p>
            <p>contact@clairegindre.com</p>
            <p>www.clairegindre.com</p>
        </div>
    </div>
</div>
</body>