{% extends "admin_layout.html.twig" %}

{%  block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles/drop_pictures.css') }}" />
    {% block title %}
        <title>Administration des familles</title>
    {% endblock %}
{% endblock %}

{% block content %}
<section>
    <div class="container">

        <div class="row no-gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                {% block title_admin %}
                <h1>Gestion de la galerie : {{ gallery.title }}</h1>
                {% endblock %}
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="drop-container">

            </div>
        </div>
        {% if gallery is not empty %}
            <div class="row no-gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="row no-gutters cards" id="sortable">
                        {% for pictures in gallery.pictures %}
                            <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12">
                                <div class="row no-gutters cards-content">
                                    <img src="{{ asset(pictures.publicPath ~ '/' ~ pictures.pictureName) }}" alt="{{ pictures.pictureName }}"  class="img-fluid" data-position="{{ pictures.displayOrder }}"/>
                                </div>
                                <div class="row no-gutters cards-pictos">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                                        <i class="fa fa-trash"></i>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>$ (function () {
            $('#sortable').sortable();
            $ ('#sortable').disableSelection();
        });</script>
    <script src="/js/back/dropPictures.js"></script>
    <script>$(document).ready(function () {
            $('#drop-container').dropPictures(
                {
                    'script' : '/admin/gallery/pictures/upload',
                    'target': '{{ gallery.title }}',
                    'gallery': '{{ gallery.id }}'
                }
            );
        });
    </script>
{% endblock %}