{% extends "admin_layout.html.twig" %}

{%  block head %}
    {{ parent() }}
    {% block title %}
        <title>Administration des familles</title>
    {% endblock %}
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="col">
            <h1>Gallerie client : {{ user.username }}</h1>
        </div>
        {{ form_start(gallery) }}
        {{ form_widget(gallery) }}

            <button type="submit" name="submit-gallery" class="btn btn-primary test-btn">Ajouter</button>
            {{ form_end(gallery) }}
    </div>

</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/back/dropfiles.js"></script>
{% endblock %}