{% extends "admin_layout.html.twig" %}

{%  block head %}
    {{ parent() }}
    {% block title %}
        <title>Administration des familles</title>
    {% endblock %}
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="col">
            <h1>Gallerie client : {{ user.username }}</h1>
        </div>

        <div class="col">
            {{ form_start(benefit_form) }}
            {{ form_row(benefit_form.name) }}
            <button type="submit" name="submit_benefit" class="btn btn-primary">Ajouter</button>
            {{ form_end(benefit_form) }}
            <div class="row"></div>
        </div>

        {% block form %}
            <div class="form">
                {{ form_start(gallery_form, {attr: {class: 'box'}}) }}
                {{ form_end(gallery_form) }}
            </div>
        {% endblock %}

    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/back/gallery.js"></script>
{% endblock %}



{#<form class="box" method="post" action="" enctype="multipart/form-data">#}
    {#<div class="box__input">#}
        {#<input class="box__file" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />#}
        {#<label for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span>.</label>#}
        {#<button class="box__button" type="submit">Upload</button>#}
    {#</div>#}
    {#<div class="box__uploading">Uploading&hellip;</div>#}
    {#<div class="box__success">Done!</div>#}
    {#<div class="box__error">Error! <span></span>.</div>#}
{#</form>#}