{% extends "back/admin/admin.html.twig" %}

{% block head %}
{{ parent() }}

    {% block title %}
    <title>Edition de la gallerie </title>
    {% endblock %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {%  form_theme form 'form/fields.html.twig' %}
            <div class="col-12 picture-thumb-container" data-sortable=".picture-thumb" id="sort1">
                {{ form_start(form) }}
                    {% for images in form.pictures %}
                <div class="picture-thumb" data-position="{{ images.vars.data.displayOrder }}" data-id="">
                    <div class="content-thumb" >
                        {{ form_row(images) }}
                        <img src="{{ asset(images.vars.data.publicPath ~ '/' ~ images.vars.data.pictureName) }}" class="imgCheck" alt="{{ images.vars.data.pictureName }}" />
                    </div>
                </div>
                    {% endfor %}
            </div>
        <button type="submit" class="btn btn-primary sub-login">Mettre à jour</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/vendor/interactjs.js') }}"></script>
<script src="{{ asset('js/back/editGallery.js') }}"></script>
<script src="{{ asset('js/back/add_favorite.js') }}"></script>
<script src="{{ asset('js/back/pictureEdit.js') }}"></script>
<script>
    sortable = new Sortable(
        document.querySelector('#sort1'),
    )
</script>
{% endblock %}