{% extends "admin_layout.html.twig" %}

{%  block head %}
    {{ parent() }}
    {% block title %}
        <title>Administration des familles</title>
    {% endblock %}
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="col">
            <h1>Gallerie client : {{ user.username }}</h1>
        </div>

        <div class="col">
            {{ form_start(gallery_form) }}
            {{ form_row(gallery_form.benefit) }}
            <div class="row"></div>
        </div>


        {% block drop %}
        <div class="drop-container">
            <div class="dropfiles">
                <div class="messageUpload"></div>
                    <div class="upload-img-container">
                        {{ form_row(gallery_form.picturename) }}
                    </div>
            </div>
        </div>
        {% endblock %}

            <button type="submit" name="submit_benefit" class="btn btn-primary">Ajouter</button>
            {{ form_end(gallery_form) }}
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/back/dropfiles.js"></script>
    <script>$('.dropfiles').dropfiles({
        })</script>
{% endblock %}