{% extends('admin_layout.html.twig') %}

{%  block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
{{ form_start(register) }}
{{ form_widget(register) }}
    <button type="submit" name="register-submit" class="btn btn-primary">Enregistrer</button>
{{ form_end(register) }}

    {#{% for test_cat in test %}#}
        {#{{ test_cat }}#}
    {#{% endfor %}#}
{% endblock %}