{% extends "admin_layout.html.twig" %}

{%  block head %}
    {{ parent() }}
    <title>Administration des avis clients</title>
{% endblock %}

{% block content %}
    {% block FlashMessage %}
        {% for flash_message in app.flashes('slider_success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endblock %}
    <h1>Administration du slider des avis clients</h1>

    {{ form_start(reviewsForm) }}
    {{ form_widget(reviewsForm) }}
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Enregistrer</button>
    </div>
    {{ form_end(reviewsForm) }}
{% endblock %}