{% extends('admin_layout.html.twig') %}

{%  block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Administration des utilisateurs</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Nom</p>
            </div>
            <div class="col">
                <p>Prénoms</p>
            </div>
            <div class="col">
                <p>Images</p>
            </div>
            <div class="col">
                <p>Prestation</p>
            </div>
            <div class="col">
                <p>Ajouter une gallerie</p>
            </div>
            <div class="col">
                <p>Editer</p>
            </div>
            <div class="col">
                <p>Supprimer</p>
            </div>
        </div>
        {% for user in users %}
            <div class="row no-gutters">
                <div class="col">
                    <p>{{ user.username }}</p>
                </div>
                <div class="col">
                    <p>{{ user.lastname }}</p>
                </div>
                <div class="col">
                    {#<p><img src="/images/upload/{{ user.picture}}" /></p>#}
                </div>
                <div class="col">
                    <p>{{ user.benefit }}</p>
                </div>
                <div class="col">
                    <p><a href="{{ path('adminGallery', {'id': user.id}) }}">Ajouter</a></p>
                </div>
                <div class="col">
                    <a href="{{ path('adminEditUser', {'id': user.id}) }}"><i class="fa fa-edit"></i></a>
                </div>
                <div class="col">
                    <a href="{{ path('adminDeleteUser', {'id': user.id}) }}" ><i class="fa fa-trash"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}