{% extends('admin_layout.html.twig') %}

{% block content %}
    <section>
        <h1>Administration des utilisateurs</h1>
        <div class="container users">
            <div class="row">
                <div class="col">
                    <p class="text-uppercase font-weight-bold">Nom</p>
                </div>
                <div class="col">
                    <p class="text-uppercase font-weight-bold">Prénoms</p>
                </div>
                <div class="col">
                    <p class="text-uppercase font-weight-bold">Images</p>
                </div>
                <div class="col">
                    <p class="text-uppercase font-weight-bold">Les galeries</p>
                </div>
                <div class="col">
                    <p class="text-uppercase font-weight-bold">Editer</p>
                </div>
            </div>
            {% for user in users %}
                <div class="row no-gutters gallery-container">
                    <div class="col">
                        <div class="row no-gutters">
                            <div class="col">
                                <p>{{ user.username }}</p>
                            </div>
                            <div class="col">
                                <p>{{ user.lastName }}</p>
                            </div>
                            <div class="col">
                                {#<p><img src="/images/upload/customers/{{ user.pictureName}}" /></p>#}
                            </div>
                            <div class="col">
                                {#<a href="{{ path('adminAddGallery', {'id': user.id}) }}"></a>#}
                                <span data-toggle="modal" data-target="#createGalleryModal" data-id="{{ user.id }}"><i class="fa fa-plus"></i></span> ou <i class="fa fa-chevron-up show-gallery"></i>
                            </div>
                            <div class="col">
                                <a href="{{ path('adminUserEdit', {'id': user.id}) }}"><i class="fa fa-edit"></i></a>
                            </div>
                        </div>
                        <div class="row no-gutters">
                            <div class="col show-galleries">
                                <h3>Galeries</h3>
                                {% for gallery in user.galleries %}
                                    <div class="col show-gallery-details">
                                        <a href="{{ path('adminPictures', {'id': gallery.id}) }}">{{ gallery.benefit.name }}</a>
                                    </div>
                                {% else %}
                                    <div class="col show-galleries">
                                        <p class="text-center">Aucune galerie</p>
                                    </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col add_user">
                    <a href="{{ path('adminRegister') }}">Ajouter un utilisateur</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="createGalleryModal" tabindex="-1" role="dialog" aria-labelledby="createGalleryModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createGalleryModalTitle">Création d'une galerie</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(form) }}
                <div class="modal-body">
                    {{ form_widget(form) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit"  class="btn btn-primary">Enregistrer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/back/show_galleries_users.js') }}"></script>
{% endblock %}