{% extends "admin_layout.html.twig" %}

{%  block head %}
    {{ parent() }}
    {% block title %}
    <title>Modification de l'utilsateur {{ user.username }}</title>
    {% endblock %}
{% endblock %}

{% block content %}

    {% block title_admin %}
    <h1 class="title-admin">Modification de l'utilisateur {{ user.username }}</h1>
    {% endblock %}

    {{ parent() }}
<section>
    <div class="container">
        <div class="row no-gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn admin-button text-uppercase">Mettre à jour</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
