{% extends "layout.html.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles/gallery.css') }}">

    {% block title %}
        <title>Galeries Clients</title>
    {% endblock %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row no-gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h1 class="title-gallery text-center">Bienvenue sur vos galeries photos</h1>
            </div>
        <div class="row no-gutters gallery-container-customer">
            {% for gallery in galleries %}
                 <div class="img-customers col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="row no-gutters box">
                    {% for picture in gallery.pictures %}
                        {% if picture.favorite > 0 %}
                            <img src="{{ asset( picture.publicPath ~ '/' ~ picture.pictureName) }}" alt="{{ gallery.pictures.first.pictureName }}" />
                        {% endif %}
                    {% endfor %}
                                <a href="{{ path('galleryCustomer', { 'slugUser': gallery.user.slug, 'slugGallery' : gallery.slug } ) }}">
                                <div class="gallery-customers-informations">
                                    <p><i class="fa fa-lock"></i></p>
                                    <h4 class="gallery-title">{{ gallery.title }}</h4>
                                    <p class="prestation-date">{{ gallery.eventDate|localizeddate('none', 'none', null, null, 'dd MMMM Y') }}</p>
                                </div>
                                </a>
                            </div>
                    </div>
            {% endfor %}
        </div>
    </div>

    {% block contact %}

    {% endblock %}

    {% block instagram_contact %}

    {% endblock %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/front/menu.js') }}"></script>
    <script src="{{ asset('/js/front/galleries_customers.js') }}"></script>
{% endblock %}