{% extends "layout.html.twig" %}

{% block head %}
    {{ parent() }}
    <link href="{{ asset('/css/styles/blog.css') }}" rel="stylesheet" />
    <title>Blog</title>
{% endblock %}

{% block header %}
    <div class="row no-gutters">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row justify-content-center no-gutters">
                {% block left_menu %}
                    {{ parent() }}
                {% endblock %}

                {% block logo %}
                    <div class="col-lg-2 col-xl-2 logo-content">
                        <h1><a href="#" class="logo-img-color"></a></h1>
                    </div>
                {% endblock %}

                {% block right_menu %}
                    {{ parent() }}
                {% endblock %}
            </div>
        </div>
        <div class="row no-gutters gallery-customers-header">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12">
                <img src="{{ asset('/images/background/nico_anlor_b&w.jpg') }}" />
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row no-gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2 class="text-center">{{ galleries.title }}</h2>
            </div>
        </div>
            <div class="row no-gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h3>Ici seront les images de la galerie == attente pageBuilder</h3>
                </div>
            </div>
        <div class="row no-gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h3 class="comment-title">ça vous a plu ?</h3>
                <h3 class="comment-title">N'hésitez pas à laisser votre commentaire</h3>
            </div>
        </div>
            <div class="row no-gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {{ form_start(commentType) }}
                    {{ form_widget(commentType) }}
                    <button type="submit" class="btn btn-dark">Publier</button>
                    {{ form_end(commentType) }}
                </div>
            </div>
            <div class="row no-gutters comments-container">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {% if comments is empty %}
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">Aucun commentaire</div>
                        </div>
                    {% endif %}
                    {% for comment in comments %}
                        <div class="row comments-contain">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">{{ comment.lastName }}</div>
                        </div>
                        <div class="row comments-contain">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">{{ comment.content | raw }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block contact %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=7g8w49lzy5eyqt1o7hle0gzlmm3c84veiyraf1nwtm9eur9t"></script>
    <script src="{{ asset('/js/front/menu.js') }}"></script>
    <script>
        tinymce.init({
            selector: 'textarea#add_comment_article_not_logged_content',
            height: 150,
            toolbar: [
                'alignleft aligncenter alignright'
            ]
        });
    </script>
{% endblock %}