{% extends "layout.html.twig" %}

{% block head %}
{{ parent() }}
    <link href="{{ asset('/css/styles/blog.css') }}" rel="stylesheet" />
    <title>Blog</title>
{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid no-gutters">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 infos-content">
                <div class="row no-gutters" id="end-nav">
                    <div class="offset-8 col-md-3 col-lg-3 col-xl-3 d-xl-block d-lg-block d-sm-none d-none infos-blog">
                        <h2 class="text-uppercase">Ga</h2>
                        <p class="text-justify info-p">qdfsqf</p>
                    </div>
                </div>
                <div class="row no-gutters social-container">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <p><a href="https://www.instagram.com/clairegindre_photographe/" target="_blank"><i class="fa fa-instagram"></i></a></p>
                        <p><a href="https://www.facebook.com/clairegindre.pg/" target="_blank"><i class="fa fa-facebook-f"></i></a></p>
                        <p><a href="https://www.pinterest.fr/ClaireGindrepg/" target="_blank"><i class="fa fa-pinterest-p"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section>
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h2 class="text-center text-uppercase title-faq">Vos belles histoires</h2>
                <div class="btn-group col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 offset-xl-3 offset-lg-3 select-portfolio">
                    <button class="btn  filter-button-dynamique text-center" data-filter="all">Tout voir</button>
                {% for benefit in benefits %}
                    <button class="btn btn-default filter-button-dynamique" data-filter="{{ benefit.name |lower }}"><img src="{{ asset('/images/interface/pictos/' ~ benefit.name|lower ~ '.png' ) }}" alt="{{ benefit.name }}" class="blog-pictos-filter"> {{ benefit.name }}</button>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="row no-gutters">
                <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 offset-1">
                    <div class="row no-gutters articles-container">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    {% for gallery in galleries %}
                        <div class="row no-gutters article-container{% if loop.index is divisible by(2) %}-reverse{% endif %} filter {{ gallery.benefit.name |lower }}" data-filter="{{ gallery.benefit.name | lower}}">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12{% if loop.index is divisible by(2) %} offset-xl-0 offset-lg-0 offset-md-0 offset-sm-0 {% else %} offset-xl-1 offset-lg-1{% endif %} article-txt-container">
                                <h2 class="blog-title">{{ gallery.article.title }}</h2>
                                <p>{{ gallery.eventDate | date('d M Y') }}</p>
                                <p class="gallery-title">{{ gallery.article.title }}</p>
                                <a href="{{ path('showArticle', { 'slugArticle': gallery.article.slug, 'slugGallery': gallery.slug}) }}" class="link_to_gallery">{{ gallery.article.personnalButton }}</a>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 {% if loop.index is divisible by(2) %} offset-xl-1 offset-lg-1{% endif %}">
                                <div class="row no-gutters">
                                    {% for picture in gallery.pictures %}
                                        {% if picture.favorite > 0 %}
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 article-img-container" style="background: url('{{ picture.publicPath ~ '/' ~ picture.pictureName }}') center center; background-size: cover;"></div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/front/menu.js') }}"></script>
    <script src="{{ asset('js/front/portfolio_blog.js') }}"></script>
{% endblock %}