{% extends "layout.html.twig" %}
{%  block head %}
    {{ parent() }}
    <title>Foire aux questions</title>
{% endblock %}

    {% block header %}
        <div class="row no-gutters">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="row justify-content-center no-gutters nav-desktop">
                    {% block left_menu %}
                        {{ parent() }}
                    {% endblock %}

                    {% block logo %}
                        <div class="col-lg-2 col-xl-2 logo-content">
                            <h1><a href="#" class="logo-img-color"></a></h1>
                        </div>
                    {% endblock %}

                    {% block right_menu %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}

{% block content %}
    {% block informations %}
        <div class="container-fluid no-gutters">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 infos-content">
                <div class="row no-gutters" id="end-nav">
                    <div class="offset-8 col-md-3 col-lg-3 col-xl-3 d-xl-block d-lg-block d-sm-none d-none">
                        <h2 class="text-uppercase">infos</h2>
                        <p class="text-justify info-p">Vous venez de visiter mon site et vous avez sûrement tout un tas de questions. Sur cette page vous touverez un maximum d'informations concernant, mes prestations et tarifs ainsi qu'un petit florilège de questions qui
                        reviennent souvent lors de mes rendez-vous. Si jamais les réponses à vos questions ne se trouvent pas sur cette page, n'hésitez pas à m'envoyer un message via le formulaire de contact.
                        Alors c'est parti, bonne lecture !!!</p>
                    </div>
                </div>
                <div class="social-media">
                    <p><a href="https://www.instagram.com/clairegindre_photographe/" target="_blank"><i class="fa fa-instagram"></i></a></p>
                    <p><a href="https://www.facebook.com/clairegindre.pg/" target="_blank"><i class="fa fa-facebook-f"></i></a></p>
                    <p><a href="https://www.pinterest.fr/ClaireGindrepg/" target="_blank"><i class="fa fa-pinterest-p"></i></a></p>
                </div>
            </div>
            <div class="col-12 col-sm-12 d-lg-none d-xl-none infos-txt">
                <h2 class="text-uppercase">infos</h2>
                <p class="text-justify info-p">Vous venez de visiter mon site et vous avez sûrement tout un tas de questions. Sur cette page vous touverez un maximum d'informations concernant, mes prestations et tarifs ainsi qu'un petit florilège de questions qui
                    reviennent souvent lors de mes rendez-vous. Si jamais les réponses à vos questions ne se trouvent pas sur cette page, n'hésitez pas à m'envoyer un message via le formulaire de contact.
                    Alors c'est parti, bonne lecture !!!</p>
            </div>
            <div class="row no-gutters">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 benefits">
                    <span class="ico wedding"></span>
                    <h2 class="text-uppercase infos-title">Mariage</h2>
                    <p class="prestations-infos"> Guard 1: [after Homer destroyed the bill of rights] You just licked off the part that forbids cruel and unusual punishment.  Guard 2: [putting on brass knuckles] Hehe, beautiful.
                        [in front a "Best Teacher's Award" committee]  Bart: [in a video] This year, I'd like to nominate my teacher- Ms. Krabappel.
                        Chief Wiggum: Slink away boys, slink away.</p>
                    <p class="pricing">à partir de 900 €</p>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 benefits">
                    <span class="ico couple"></span>
                    <h2 class="text-uppercase  infos-title">Couple</h2>
                    <p class="prestations-infos"> Guard 1: [after Homer destroyed the bill of rights] You just licked off the part that forbids cruel and unusual punishment.  Guard 2: [putting on brass knuckles] Hehe, beautiful.
                        [in front a "Best Teacher's Award" committee]  Bart: [in a video] This year, I'd like to nominate my teacher- Ms. Krabappel.
                        Chief Wiggum: Slink away boys, slink away.</p>
                    <p class="pricing">à partir de 200 €</p>
                </div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 benefits">
                    <span class="ico family"></span>
                    <h2 class="text-uppercase infos-title">Famille</h2>
                    <p class="prestations-infos"> Guard 1: [after Homer destroyed the bill of rights] You just licked off the part that forbids cruel and unusual punishment.  Guard 2: [putting on brass knuckles] Hehe, beautiful.
                        [in front a "Best Teacher's Award" committee]  Bart: [in a video] This year, I'd like to nominate my teacher- Ms. Krabappel.
                        [first lines of an episode]  Kent Brockman: ...which, if true, means death for us all.
                        Chief Wiggum: Slink away boys, slink away.</p>
                    <p class="pricing">à partir de 250 €</p>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block FAQ %}
        <div class="container">
            <section id="faq-section">
            <h2 class="text-center text-uppercase title-faq">FAQ</h2>
            <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="presentation-faq"><span class="title-faq"><b>Comment</b></span> es-tu devenue photographe de mariage ?</p>
                    <p class="text-presentation-faq">Un peu par hasard à vrai dire. J'ai toujours aimé faire de la photo mais je n'avais pas envisagé d'en faire mon métier. Un jour, une amie m'a demandé si je voulais bien photographier le mariage
                    de sa meilleure amie. L'idée m'a tout de suite plut et j'ai sauté sur l'occasion. J'ai vraiment ADORE ça !!! J'ai renouvelé l'expérience plusieurs fois avant de me lancer à 100 % dans l'aventure de la photographe freelance.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="presentation-faq"><span class="title-faq"><b>Quelle</b></span> est ta façon de travailler</p>
                    <p class="text-presentation-faq">Un peu par hasard à vrai dire. J'ai toujours aimé faire de la photo mais je n'avais pas envisagé d'en faire mon métier. Un jour, une amie m'a demandé si je voulais bien photographier le mariage
                        de sa meilleure amie. L'idée m'a tout de suite plut et j'ai sauté sur l'occasion. J'ai vraiment ADORE ça !!! J'ai renouvelé l'expérience plusieurs fois avant de me lancer à 100 % dans l'aventure de la photographe freelance.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="presentation-faq"><span class="title-faq"><b>Où</b></span> te déplaces-tu ?</p>
                    <p class="text-presentation-faq">Un peu par hasard à vrai dire. J'ai toujours aimé faire de la photo mais je n'avais pas envisagé d'en faire mon métier. Un jour, une amie m'a demandé si je voulais bien photographier le mariage
                        de sa meilleure amie. L'idée m'a tout de suite plut et j'ai sauté sur l'occasion. J'ai vraiment ADORE ça !!! J'ai renouvelé l'expérience plusieurs fois avant de me lancer à 100 % dans l'aventure de la photographe freelance.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="presentation-faq"><span class="title-faq"><b>Combien</b></span> de photos délivres-tu ?</p>
                    <p class="text-presentation-faq">Un peu par hasard à vrai dire. J'ai toujours aimé faire de la photo mais je n'avais pas envisagé d'en faire mon métier. Un jour, une amie m'a demandé si je voulais bien photographier le mariage
                        de sa meilleure amie. L'idée m'a tout de suite plut et j'ai sauté sur l'occasion. J'ai vraiment ADORE ça !!! J'ai renouvelé l'expérience plusieurs fois avant de me lancer à 100 % dans l'aventure de la photographe freelance.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="presentation-faq"><span class="title-faq"><b>Quand</b></span> et comment recevrons nous nos photos ?</p>
                    <p class="text-presentation-faq">Un peu par hasard à vrai dire. J'ai toujours aimé faire de la photo mais je n'avais pas envisagé d'en faire mon métier. Un jour, une amie m'a demandé si je voulais bien photographier le mariage
                        de sa meilleure amie. L'idée m'a tout de suite plut et j'ai sauté sur l'occasion. J'ai vraiment ADORE ça !!! J'ai renouvelé l'expérience plusieurs fois avant de me lancer à 100 % dans l'aventure de la photographe freelance.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <p class="presentation-faq"><span class="title-faq"><b>Quelle</b></span> est la marche à suivre pour que tu sois notre photographe ?</p>
                    <p class="text-presentation-faq">Un peu par hasard à vrai dire. J'ai toujours aimé faire de la photo mais je n'avais pas envisagé d'en faire mon métier. Un jour, une amie m'a demandé si je voulais bien photographier le mariage
                        de sa meilleure amie. L'idée m'a tout de suite plut et j'ai sauté sur l'occasion. J'ai vraiment ADORE ça !!! J'ai renouvelé l'expérience plusieurs fois avant de me lancer à 100 % dans l'aventure de la photographe freelance.</p>
                </div>
            </div>
            </section>
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
 {{ parent() }}
    <script src="{{ asset('/js/front/menu.js') }}"></script>
{% endblock %}