{% extends "layout.html.twig" %}

{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles/gallery.css') }}" xmlns="http://www.w3.org/1999/html">

    {% block title %}
        <title>Galeries Clients</title>
    {% endblock %}

{% endblock %}

{% block content %}
    <section>
        <div class="container-fluid no-gutters">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 favorite-blog-picture" style="{% for picture in gallery.pictures if picture.favorite > 0 %}url('{{ picture.publicPath ~ '/' ~ picture.pictureName }}') center center; background-size: cover; {% endfor %}">
                <div class="row no-gutters" id="end-nav">
                </div>
                <div class="row no-gutters social-container">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <p><a href="https://www.instagram.com/clairegindre_photographe/" target="_blank"><i class="fa fa-instagram"></i></a></p>
                        <p><a href="https://www.facebook.com/clairegindre.pg/" target="_blank"><i class="fa fa-facebook-f"></i></a></p>
                        <p><a href="https://www.pinterest.fr/ClaireGindrepg/" target="_blank"><i class="fa fa-pinterest-p"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <h2 class="text-center text-uppercase title-gallery">{{ gallery.title }}</h2>
                </div>
            </div>
                <div class="row no-gutters cards-container">
                    <div class="gallery-container">
                        {% for picture in pictures %}
                            <img src="{{ asset(picture.publicPath ~ '/' ~ picture.pictureName) }}" alt="{{ picture.pictureName }}"  class="img-fluid img-gallery-customer"
                                 data-position="{{ picture.displayOrder }}" data-url="{{ path('dlGoogle', { 'objectName':  picture.backupPath ~ '/' ~ picture.pictureName|split('.')[0]}) }}" data-id="{{ picture.backupPath ~ '/' ~ picture.pictureName }}" data-toggle="modal" data-target ="#sliderImg" />
                        {% endfor %}
                    </div>
                </div>
            </div>
    </section>

    {% block instagram_contact %}
    {% endblock %}

    <div class="modal-perso" id="mymodal">
                <div class="modal-contenu">
                    <div class="modal-head">
                        <h1 class="title-gallery">{{ gallery.title }}</h1>
                        <span class="close-modal"><i class="fa fa-close fa-2x"></i></span>
                    </div>
                    <div class="row no-gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 link-to-dl-image-container">
                            <a href="" class="link-to-dl-image">Télécharger l'image <i class="fa fa-download"></i></a>
                        </div>
                    </div>
                </div>
                <div class="slider-container">
                        <img src=""  class="img-container"   />
                 </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/front/menu.js') }}"></script>
    <script src="{{ asset('/js/front/gallery_customers.js') }}"></script>
{% endblock %}