{% extends "layout.html.twig" %}

{% block head %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles/gallery.css') }}">

    {% block title %}
        <title>Galeries Clients</title>
    {% endblock %}

{% endblock %}
{% block header %}
    <div class="row no-gutters">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row justify-content-center no-gutters nav-desktop">
                {% block left_menu %}
                    {{ parent() }}
                {% endblock %}

                {% block logo %}
                    <div class="col-lg-2 col-xl-2 logo-content">
                        <h1><a href="#" class="logo-img-color"></a></h1>
                    </div>
                {% endblock %}

                {% block right_menu %}
                    {{ parent() }}
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="row no-gutters" id="end-nav">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-12 gallery-customers-header">
            <img src="{{ asset('/images/background/nico_anlor_b&w.jpg') }}" />
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row no-gutters">
                {% for gallery in galleries %}
                        <div class="img-customers col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="row no-gutters box">
                                <img src="{{ asset('images/upload/gallery/' ~ gallery.title ~ '/' ~ gallery.pictures.first.pictureName) }}" alt="{{ gallery.pictures.first.pictureName }}" />
                                    <div class="gallery-customers-informations">
                                        <p><i class="fa fa-lock fa-2x"></i></p>
                                        <h4>{{ gallery.title }}</h4>
                                        <p id="prestation-date">{{ gallery.user.dateWedding|date('d-m-Y') }}</p>
                                        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#loginFormModal"><i class="fa fa-user-o"></i></button>
                                    </div>
                            </div>
                        </div>
                {% endfor %}
        </div>
        {# PAGINATION FOR USERS #}
        <nav aria-label="pagination">
            <ul class="pagination justify-content-center">
                {% if pages.page > 1 %}
                    <li class="page-item">
                        <a href="{{ path('galleriesCustomers', { 'page': pages.page-1}) }}" class="page-link" tabindex="-1">Précédent</a>
                    </li>
                {% endif %}
                {% for p in range(max(pages.page-4, 1), min(pages.page +4, pages.nbPages)) %}
                    <li class="page-item">
                        <a href="{{ path('galleriesCustomers', { 'page' : p})}}"  class="page-link">{{ p }}</a>
                    </li>
                {% endfor %}
                {% if pages.page < pages.nbPages %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('galleriesCustomers', { 'page': pages.page+1}) }}">Suivante</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="loginFormModal" tabindex="-1" role="dialog" aria-labelledby="loginFormModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginFormModalTitle">Connexion Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(customerConnectionType) }}
                    <input type="hidden" value="id de lagalerie" name="galleries"/>
                    {{ form_widget(customerConnectionType) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark">Connexion</button>
                    {{ form_end(customerConnectionType) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/js/front/menu.js') }}"></script>
    <script src="{{ asset('/js/front/galleries_customers.js') }}"></script>
{% endblock %}