{% extends "layout.html.twig" %}
{%  block head %}
    {{ parent() }}
    <title>{{ title }}</title>
{% endblock %}

    {% block header %}
       {{ parent() }}
    {% endblock %}

{% block content %}
    <section class="portfolio">
        <h2 class="text-center text-uppercase">love & fun</h2>

        <div class="gallery">
            <div class="left-1">
                <a href="#"></a>
            </div>
            <div class="left-2">
                <a href="#"></a>
            </div>
            <div class="left-3">
                <a href="#"></a>
            </div>
            <div class="middle-1">
                <a href="#"></a>
            </div>
            <div class="middle-2">
                <a href="#"></a>
            </div>
            <div class="middle-3">
                <a href="#"></a>
            </div>
            <div class="middle-4">
                <a href="#"></a>
            </div>
            <div class="right-1">
                <a href="#"></a>
            </div>
            <div class="right-2">
                <a href="#"></a>
            </div>
        </div>

        </div>
    </section>

    {% block presentation %}
        <section class="presentations">
            <div class="row no-gutters height-pres">
                <div class="col-12 col-sm-12 col-md-12 offset-lg-3 offset-xl-3 col-lg-6 col-xl-6 hello-container align-items-center justify-content-center">
                    <div class="row no-gutters">
                        <div class="offset-lg-3 offset-xl-3 col-lg-9 col-xl-9">
                    <p class="triple-triangle text-center"><img src="{{ asset('/images/pictos/trois-triangle.png') }}" alt="presentation-clairegindre"></p>
                    <h2 class="text-center text-uppercase">hello</h2>
                    <p>Je s'appelle Groot, photographe en région parisienne ....</p>

                        </div>
                    </div>
                    <div class="col-12 photo-presentations"></div>
                </div>
            </div>
            <div class="col-12 bg-presentations"></div>
            </div>
        </section>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="/js/front/collection_home.js"></script>
{% endblock %}
