{% extends "layout.html.twig" %}
{%  block head %}
    {{ parent() }}
    <title>Bienvenue sur le site de Claire GINDRE - Photographe</title>
{% endblock %}

    {% block header %}
       {{ parent() }}
    {% endblock %}

{% block content %}
    <section class="portfolio">
        <h2 class="text-center text-uppercase">love & fun</h2>

        <div class="gallery">
            {% for gallery in galleries %}
                {% for favoritePicture in gallery.pictures %}
                    {% if favoritePicture.favorite > 0 %}
                        <div class="portfolio-pres thumb" style="background: url({{ asset(favoritePicture.publicPath ~ '/' ~ favoritePicture.pictureName) }}) center center no-repeat; background-size: cover">
                            <a href="#" class="portfolio_link">
                                <div class="link_hover">
                                    <h2>{{ gallery.title }}</h2>
                                    <p>{{ gallery.eventDate | date('d-m-Y') }}</p>
                                    <p>{{ gallery.eventPlace }}</p>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>

        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="/js/front/collection_home.js"></script>
<script src="{{ asset('/js/front/portfolio_index.js') }}"></script>
<script src="{{ asset('js/front/menu_layout.js') }}"></script>
{% endblock %}
