{% extends "admin_layout.html.twig" %}

{%  block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles/blog.css') }}" />
    {% block title %}
        <title>Admin | Article</title>
    {% endblock %}
{% endblock %}

{% block content %}
    {% block FlashMessage %}

    {% endblock %}

    {% block showBlog %}
    <section>
        <div class="container-fluid">
            {% block title_admin %}
                <div class="row no-gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h1>Article de blog pour la galerie : {{ gallery.title }}</h1>
                    </div>
                </div>
            {% endblock %}

            <div class="row no-gutters">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 builder-container">

                </div>

                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="row no-gutters pictures-container">
                        {% for picture in gallery.pictures %}
                        <div class="picture-container col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                            <img src="{{ asset(picture.publicPath ~ '/' ~ picture.pictureName) }}"  class="img-article">
                            </div>
                        {% endfor %}
                    </div>
                    </div>

                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 construct-container">
                    {# CHANGER LES LIENS EN BOUTONS #}
                    <a href="#" class="add-landscape-picture "><span id="landscape">Paysage</span></a>
                    <a href="#" class="add-portrait-picture"><span id="portrait">Portrait</span></a>
                    <a href="#" class="add-landscape-pictures"><span class="landscapes">Paysage</span><span class="landscapes">Paysage</span></a>
                    <a href="#" class="add-portrait-pictures"><span class="portraits">Portrait</span><span class="portraits">Portrait</span></a>
                </div>
            </div>
        </div>
    {% endblock %}
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('js/vendor/interactjs.js') }}"></script>#}
    <script src="{{ asset('js/back/add_pictures_articles.js') }}"></script>
    <script src="{{ asset('js/back/builder-pictures-article.js') }}"></script>
    {#<script src="{{ asset('js/back/editGallery.js') }}"></script>#}
    {#<script>#}
        {#sortable = new Sortable(#}
            {#document.querySelector('#sort1'),#}
        {#)#}
    {#</script>#}
{% endblock %}