{% extends "admin_layout.html.twig" %}

{%  block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles/blog.css') }}" />
    {% block title %}
        <title>Admin | Article</title>
    {% endblock %}
{% endblock %}

{% block content %}
    {% block FlashMessage %}

    {% endblock %}

    {% block showBlog %}
    <section>
        <div class="container-fluid">
            {% block title_admin %}
                <div class="row no-gutters">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h1>Article de blog pour la galerie : {{ gallery.title }}</h1>
                    </div>
                </div>
            {% endblock %}

            <div class="row no-gutters">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 builder-container">

                </div>

                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                    <div class="row no-gutters pictures-container">

                    </div>
                    </div>

                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 construct-container">
                    {# CHANGER LES LIENS EN BOUTONS #}
                    <a href="#" class="add-landscape-picture "><span id="landscape">Paysage</span></a>
                    <a href="#" class="add-portrait-picture"><span id="portrait">Portrait</span></a>
                    <a href="#" class="add-landscape-pictures"><span class="landscapes">Paysage</span><span class="landscapes">Paysage</span></a>
                    <a href="#" class="add-portrait-pictures"><span class="portraits">Portrait</span><span class="portraits">Portrait</span></a>
                </div>
            </div>
        </div>
    {% endblock %}
    <!-- MODAL PICTURES -->
    <div class="modal fade" id="createImgModal" tabindex="-1" role="dialog" aria-labelledby="createImgModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createImgModalTitle">Enregistrer un article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                    {% for picture in gallery.pictures %}
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <img src="{{ asset(picture.publicPath ~ '/' ~ picture.pictureName) }}"  class="img-article">
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="submit"  class="btn btn-primary">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {#<script src="{{ asset('js/vendor/interactjs.js') }}"></script>#}
    {#<script src="{{ asset('js/back/add_pictures_articles.js') }}"></script>#}
    <script src="{{ asset('js/back/builder-pictures-article.js') }}"></script>
{% endblock %}