{% extends "admin_layout.html.twig" %}

{%  block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles/blog.css') }}" />
    <title>Administration</title>
{% endblock %}

{% block content %}
    {% block FlashMessage %}
        {% for flash_message in app.flashes('register_success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.flashes('user_delete_success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endblock %}

    {% block showBlog %}
        <div class="container-fluid">
            <h1>Positionnement des images</h1>
            <div class="row no-gutters">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 builder-container">

                </div>

                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 pictures-container">
                    <div class="row">
                        {% for picture in pictures %}
                        <div class="picture-container col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                            <img src="{{ asset(picture.publicPath ~ '/' ~ picture.pictureName) }}"  class="img-article">
                            </div>
                        {% endfor %}
                    </div>
                    </div>

                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-12 construct-container">
                    <a href="#" class="add-landscape-picture "><span id="landscape">Paysage</span></a>
                    <a href="#" class="add-portrait-picture"><span id="portrait">Portrait</span></a>
                    <a href="#" class="add-landscape-pictures"><span class="landscapes">Paysage</span><span class="landscapes">Paysage</span></a>
                    <a href="#" class="add-portrait-pictures"><span class="portraits">Portrait</span><span class="portraits">Portrait</span></a>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 circle-container">
                    <div class="line"></div>
                    <div class="cercle">1</div>
                    <div class="cercle active">2</div>
                    <div class="cercle">3</div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('js/vendor/interactjs.js') }}"></script>#}
    <script src="{{ asset('js/back/add_pictures_articles.js') }}"></script>
    <script src="{{ asset('js/back/builder-pictures-article.js') }}"></script>
    {#<script src="{{ asset('js/back/editGallery.js') }}"></script>#}
    {#<script>#}
        {#sortable = new Sortable(#}
            {#document.querySelector('#sort1'),#}
        {#)#}
    {#</script>#}
{% endblock %}